@using System.Web.Mvc
@model BlogWithDb.Models.PostResponseModel


@{
    
}

<script src="~/js/jquery/jquery.min.js"></script>

<div class="container">
    <div id="divMainBody" style="padding-left: 25%; padding-right: 25%">
        <div class="text-center">
            <h4>@Html.Raw(@Model.Title)</h4>
            <hr />
        </div>
        <div>
            <p style="font-size: 12px;">
                @Html.Raw(@Model.Date)
            </p>
        </div>
        <div style="font-size: 16px;" class="text-center">
            @Html.Raw(@Model.Text)
        </div>
        <div>
            <p style="text-align: right;">
                <button class="btn btn-outline-info me-2" id="btnGenerate">PDF</button>
            </p>
        </div>
    </div>
    <div class="col sticky-top" id="newsletter-all-intext">
            <h6 id="newsletter">NEWSLETTER</h6>
            <div id="newsletter-text">
                Subscribe to my telegram channel <br /><a class="text-decoration-none" href="https://t.me/Abduqayumov">@@Abduqayumov</a> where I share short <br />thoughts about technical and non-technical.
            </div>
        </div>
</div>

<script src="~/js/PDFGenerator.js"></script>
@*<script type="text/javascript">
$("#btnGenerate").click(function() {
    var html = $("#divMainBody").html();
    html = html.replace(/</g, "start").replace(/>/g, "end");

    window.open("../../PDFGenerator/Generator?html="+html, "_blank");
});
</script>
*@